name: Publish Project In AWS

on:
  push:
    branches: [ "pre-release" ]
  pull_request:
    branches: [ "pre-release" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image and Publish
      run: |
        #docker build . --file Infnet_DevOps_23E3_3_Docker_Project/Dockerfile-Development --tag alexfariakof/infnet-devops-project-dev
        docker-compose -f docker-compose.dev.yml build
        IMAGEM="alexfariakof/infnet-devops-project-dev"
        mkdir -p ~/.ssh
        echo "${{ secrets.AWS_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts        
        container_id=$(docker ps -q --filter "ancestor=$IMAGEM")
        image_id=$(docker images --format "{{.ID}}" "$IMAGEM")
        docker rm --force $container_id
        docker run -d -p 6001:6001 $IMAGEM        
