name: Publish Project In AWS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
        docker build . --file Infnet_DevOps_23E3_3_Docker_Project/Dockerfile --tag infnet-devops-project
        IMAGEM="infnet-devops-project"
    - name: Configura SSH e Conecta ao servidor EC2 com SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.AWS_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts        
        container_id=$(docker ps -q --filter "ancestor=$IMAGEM")
        image_id=$(docker images --format "{{.ID}}" "$IMAGEM")
        docker rm --force $container_id
        docker rmi --force $image_id                        
        docker run -d -p 6000:6000 $IMAGEM            
        container_id=$(docker ps -q --filter "ancestor=$IMAGEM")
        docker cp /home/ec2-user/appsettings.json $container_id:/app
        docker restart $container_id
